<div class="grid-container">
    <div class="left-column">
      <div class="left-row" >
        <video 
        id="my-video"
        class="video-js"
        controls
        preload="auto"
        width="700"
        height="450"
        poster=""
        data-setup="{}"
        autoplay="true"
      >
        <source src={{src}} type="video/mp4" />
        <!-- <source src= 'http://localhost:3000/api/video/stream/2' type="video/mp4" /> -->
        <!-- <source src= 'https://www.youtube.com/watch?v=30KI5SuECuc' /> -->

        
        <!-- <p class="vjs-no-js">
          To view this video please enable JavaScript, and consider upgrading to a
          web browser that
          <a href="https://videojs.com/html5-video-support/" target="_blank"
            >supports HTML5 video</a
          >
        </p> -->
      </video>
      <div style="margin-left: 80px;">
        <h1 style="text-align:left">{{video.title}}</h1>
      </div>
      <div class="detail" style="display: flex;position: relative">
        <div style="margin-left: 80px;">
          <h3 style="text-align:left">{{video.user_name}}</h3>
        </div>
        <div style="margin-left:50px ;">
          <button class="buttonDK" mat-button color="" (click)="subcribe()">{{subcribeText}} </button>
        </div>
        <div style="display: flex;position: absolute; right: 100px;">
          <div>
            <button (click)="changeLikeColor()">
              <span class="material-symbols-outlined" [style.color]="currentLikeColor">
                thumb_up
                </span>
            </button>
            <p>{{video.likeCount}}</p>
          </div>
          <div style="margin-left: 10px;">
            <button (click)="changeDislikeLikeColor()">
              <span class="material-symbols-outlined" [style.color]="currentDisLikeColor">
                thumb_down
                </span>
            </button>
            <p>{{video.dislikeCount}}</p>

          </div>
        </div>
       
      </div>
     
      <div class="decreption" style="margin-left: 80px; margin-right: 100px;">
        {{video.description}}
                     </div>
      <hr style="margin-left: 80px; margin-right: 80px;"> 
      </div>
      <div class="left-row">
        <header><h1>
          Bình Luận
        </h1></header>
        <p>
          <mat-form-field style=" width: 80%" >
              <mat-label>Comment</mat-label>
              <input matInput placeholder="Viết bình luận ..."  type="text" (change)="getcomment(comment.value)" #comment required>
              <mat-icon matSuffix>name</mat-icon>
          </mat-form-field>
          <br>
          <button mat-raised-button (click)="submitData()" color="primary" >Bình luận</button>
          
      </p>
      <br>
      <div style="margin-left: 80px; margin-right: 80px;" *ngFor="let c of commentList; let i = index"  >
        <div style="text-align: left;"><strong>{{c.user_id}}</strong></div>
       <div  style="text-align: left;">{{c.value}}</div>
       <br>
      </div>
      </div>
    </div>
    <div class="right-column">
      <mat-grid-list cols="1">
        <mat-grid-tile *ngFor="let v of videolist; let i = index" >
            <app-video-card routerLinkActive="active current" [routerLink]="['/watchVideo',v.id]" 
            title={{v.title}} 
            timestamp=" 2 days ago" 
            channel={{v.user_name}} 
            views={{v.view}} 
            image="http://localhost:3000/api/video/stream/{{v.id}}"
            live="false">
           
            </app-video-card>
        </mat-grid-tile>
     
    </mat-grid-list>
       
    </div>
  </div>

  <!-- <vg-player>
    <video preload="auto" width='10' height='10' controls>
      <source src="" type="video/mp4">
    </video>
  </vg-player>  -->
 
<script src="https://vjs.zencdn.net/8.5.2/video.min.js"></script> 
<!-- 

<vg-player>
  <video  #media id="singleVideo" preload="auto" controls>
      <source src="http://localhost:3000/api/video/stream/2" type="video/mp4">
  </video>
</vg-player>  -->
